
NEXT_PUBLIC_GRAPHQL_URL=http://localhost:4000/graphql
NEXT_PUBLIC_GRAPHQL_WS_URL=ws://localhost:4000/graphql


# NEXT_PUBLIC_SITE_URL=https://tredella.com

# NEXT_PUBLIC_GRAPHQL_URL=https://backend-tredella.vercel.app/graphql
# NEXT_PUBLIC_GRAPHQL_WS_URL=wss://backend-tredella.vercel.app/graphql
# NEXT_PUBLIC_SITE_URL=https://buyer-tredella.vercel.app